<div class="d-flex container">
  <div class="d-flex grid-col mt-5" style="flex-direction: column;">
    <div><%= image_tag "ret-01.png" %></div>
    <div><%= image_tag "ret-08.png" %></div>
    <div><%= image_tag "ret-05.png" %></div>
  </div>
  <div class="d-flex grid-col" style="flex-direction: column;">
    <div><%= image_tag "ret-02.png" %></div>
    <div><%= image_tag "ret-09.png" %></div>
    <div><%= image_tag "ret-04.png" %></div>
  </div>
  <div class="d-flex grid-col mt-5" style="flex-direction: column;">
    <div><%= image_tag "ret-03.png" %></div>
    <div><%= image_tag "ret-11.png" %></div>
    <div><%= image_tag "ret-10.png" %></div>
  </div>
  <div class="d-none d-sm-flex grid-col" style="flex-direction: column;">
    <div><%= image_tag "ret-07.png" %></div>
    <div><%= image_tag "ret-12.png" %></div>
    <div><%= image_tag "ret-06.png" %></div>
  </div>

</div>
