<div class="login d-flex align-items-center">
  <div class="text-center mb-4">
    <%= image_tag "icon-outline-cream.svg" %>
    <h2 class="pt-2">LOG IN</h2>
    <%= image_tag "icon-outline-cream.svg" %>
  </div>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
  <div class="form-inputs" style="width: 296px;">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                label: "Senha",
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, label: "Lembre-se de mim", as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn-hero mt-4" %>
  </div>
<% end %>

<%# render "devise/shared/links" %>

</div>
