<!DOCTYPE html>
<html>
  <head>
    <title>Galeria do Mercado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <%= yield %>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

  </body>
</html>
